@import "tailwindcss";
@import "@nuxt/ui";


/* Menghilangkan scrollbar bawaan di semua browser */
html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

html::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* Custom Scrollbar Rail (Opsional) */
.custom-scrollbar {
  position: fixed;
  right: 4px;
  top: 10%;
  bottom: 10%;
  width: 2px;
  background: rgba(255, 255, 255, 0.05);
  z-index: 9999;
  border-radius: 10px;
}

/* Indikator Progress (The Thumb) */
.custom-scrollbar-thumb {
  width: 100%;
  background: #10b981; /* Emerald 500 */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(16, 185, 129, 0.5);
}